name: configtest

on:
  push:
    branches:
    - master

jobs:
  runtest:
    name: Test HA configuration
    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v1
    - name: Copy dummy secrets.yaml
      run: cp ./extras/dummy_secrets/dummy_secrets.yaml ./secrets.yaml
    - name: Create dummy certificate files
      run: |
        touch ./cert.pem
        touch ./key.pem
    - name: Docker login
      run: echo '${{ secrets.DOCKER_PASSWORD }}' | docker login --username '${{ secrets.DOCKER_USERNAME }}' --password-stdin
    - name: Pull Home Assistant container image
      run: docker pull homeassistant/home-assistant
    - name: Run container with test config switch
      run: docker run --rm --name ha --volume $(pwd):/config homeassistant/home-assistant /usr/local/bin/python -m homeassistant --config /config --script check_config
    - name: Home Assistant webhook
      run: curl -X POST ${{ secrets.GIT_PULL_WEBHOOK_URL }}
